
/* Start important CSS stuff */

body {
    background-color: #fafafa;
}


path, circle, text {

      vector-effect: non-scaling-stroke;
      stroke-width: 2px;

}


.nav-item {
    background-color: #ffffff;

}

.tab-content {
    border: 1px solid #000000;
    padding: 1px;
    background-color: #ffffff;

}

.tab-pane {
    border-radius: 0px 0px 5px 5px;
    border: 0px solid #000000;
    background-color: #ffffff;
    padding: 0px;
}


.container {
    background-color: #ffffff;
    padding: 5px;
}


.row {
    background-color: #ffffff;
    padding: 0px;
}


.nav {
    background-color: #ffffff;
    padding: 5px;
}


.card {
    min-width: 30%;
    max-width: 30%;
    border: 1px solid #ff0000;
    margin: 0px;
}


.file-selection {

    
}

table, th, td, tr {
    border-width : 0px;
    border  : 0px solid black;
    padding : 0px;
}

/* End important CSS stuff */
