<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Summary
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">

        <table class="table table-striped">
          <thead>
            <tr>
              <th>name</th>
              <th>value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Object space ref. index</td><td>{{n1 | decimal : 5 }}</td>
            </tr>
            <tr>
              <td>Image space ref. index</td><td>{{n2 | decimal : 5 }}</td>
            </tr>
            <tr>
              <td>Equivalent power</td><td>{{F | decimal : 5 }}</td>
            </tr>
            <tr>
              <td>Front vertex power</td><td>{{cardinal.VF1 | decimal : 5 }}</td>
            </tr>
            <tr>
              <td>Back vertex power</td><td>{{cardinal.VF2 | decimal : 5 }}</td>
            </tr>
            <tr>
              <td>System length (L)</td><td>{{L | decimal : 5 }}</td>
            </tr>      
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Cardinal Points
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Front</th>
                <th>Back</th>        
              </tr>
            </thead>
            <tbody>
              {{#cardinals}}
              <tr>
                <td>Focal Point</td>
                <td>{{PF1 | decimal : 3 }} (PF1)</td>
                <td>{{PF2 | decimal : 3 }} (PF2)</td>
              </tr>
              <tr>  
                <td>Principal Point</td>
                <td>{{VP1 | decimal : 3 }} (VP1)</td>
                <td>{{VP2 | decimal : 3 }} (VP2)</td>
              </tr>
              <tr>  
                <td>Nodal Point</td>
                <td>{{VN1 | decimal : 3 }} (VN1)</td>
                <td>{{VN2 | decimal : 3 }} (VN2)</td>
              </tr>
              {{/cardinals}}
            </tbody>
          </table>


      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Pupils
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Pupil Mag.</th>        
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Entrance</td><td>{{pupil.VE1 | decimal : 3 }} (VE1)</td><td>{{pupil.ME1 | decimal : 3 }}</td>
              </tr>
              <tr>
                <td>Exit</td><td>{{pupil.VE2 | decimal : 3 }} (VE2)</td><td>{{pupil.ME2 | decimal : 3 }}</td>
              </tr>
            </tbody>
          </table>


      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          System
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">

        <table class="table table-striped">
            <thead>
              <tr>
                <th>name</th>
                <th>value</th>
              </tr>
            </thead>
            <tbody>
              {{#S}}
              <tr>
                <td>A</td><td>{{A | decimal : 3 }}</td>
              </tr>
              <tr>
                <td>B</td><td>{{B | decimal : 3 }}</td>
              </tr>
              <tr>
                <td>C</td><td>{{C | decimal : 3 }}</td>
              </tr>
              <tr>
                <td>D</td><td>{{D | decimal : 3 }}</td>             
              </tr>
              {{/S}}
            </tbody>
          </table>

      </div>
    </div>
  </div>

  

</div>